node_modules
**/node_modules

dist
**/dist
build
coverage

.git
.gitignore
.dockerignore

.DS_Store
*.log

.env
.env.*

data
server/data
*.db
*.db-shm
*.db-wal

**/*.trace
**/*.zip
**/*.tar.gz
**/*.tgz
